@model IEnumerable<Website_Laptop.Models.SANPHAM>
@{
    ViewBag.Title = "QuanLiSP";
    Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2 class="mt-5 text-center">Quản Lý Sản Phẩm </h2>
<h3 class="text-center text-danger">Số Lượng Sản Phẩm: @ViewBag.SL</h3>
<div style="text-align: right; padding-right: 5%">
    <a class="btn btn-primary" href="/Admin/themSP">Thêm Sản Phẩm Mới</a>
</div>
<table class="table table-hover mt-2">
    <tr class="text-center">
        <th style="background-color:skyblue">
            Mã Loại
        </th>
        <th style="background-color:skyblue">
            Tên Sản Phẩm
        </th>
        <th style="background-color:skyblue">
            Nhà Sản Xuất
        </th>
        <th style="background-color:skyblue">
            Hình Ảnh Sản Phẩm
        </th>
        <th style="background-color:skyblue">
            Mô Tả Sản Phẩm
        </th>
        <th style="background-color:skyblue">
            Thời Gian Bảo Hành
        </th>
        <th style="background-color:skyblue">
            Giá Bán
        </th>
        <th style="background-color:skyblue">
            Số Lượng Tồn
        </th>
        <th style="background-color:skyblue">Thao Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.MALOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NSX)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ANH)*@
                <img src="/Images/@item.ANH" alt="@item.TENSP" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TGBH)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.GIA)*@
                @String.Format("{0:0,0}", item.GIA)đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td>

                <a href="/Admin/CapNhatSP?ma=@item.MASP" class="btn btn-success">Sửa Sản Phẩm</a>
                <a onclick="confirmDelete('@item.MASP')" class="btn btn-danger mt-2">Xóa Sản Phẩm</a>

            </td>
        </tr>
    }

</table>


<script>
    function confirmDelete(id) {
        var result = confirm("Bạn có chắc chắn muốn xóa?");
        if (result) {
            window.location.href = "/Admin/XoaSP?ma=" + id;
        }
    }

</script>
